<%= form_with(model: [@project, script_location], local: true) do |form| %>
  <% if script_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(script_location.errors.count, "error") %> prohibited this script_location from being saved:</h2>

      <ul>
        <% script_location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :setting %>
    <%= form.text_field :setting %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
