<%= form_with(model: [@script_location, @location], local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :approved_for_scout %>
    <%= form.check_box :approved_for_scout %>
  </div>

  <div class="field">
  
    <%= form.collection_check_boxes :script_location_ids, ScriptLocation.all, :id, :name %>
  </div>


  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
