<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Approved for scout:</strong>
  <%= @location.approved_for_scout %>
</p>
<p></p>
<% @location.script_locations.each do |script_location| %>
  <%= script_location.name %>
<% end %>
</p>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', location_path %>
<p>Back should go back to Locations Index for Script Locations ID </p>
<p>IE script_locations/ID/locations</p>
